<h2>Buch hinzufügen</h2>
<form class="container"
      [formGroup]="form"
      (ngSubmit)="add()">

  <!-- title -->
  <div class="form-group">
    <label for="title">Title</label>
    <input id="title"
           [formControl]="form.controls['title']"
           class="form-control">
  </div>

  <!-- isbn -->
  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input id="isbn"
           [formControl]="form.controls['isbn']"
           class="form-control">
  </div>

  <!-- description -->
  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description"
              [formControl]="form.controls['description']"
              class="form-control"></textarea>
  </div>

  <div class="form-group">
    <button type="submit"
            class="btn btn-danger"
            [disabled]="!form.valid">Add</button>
  </div>
</form>
